<p>list-taechers works!</p>

@for (s of this.arrTeachers; track $index) {
    <p>id: {{s.id}} , name: {{s.name}} , classes - {{s.classes}} {{s.classes.length}}</p>
    <button (click)="onUpdate(s)">to Edit</button>
    @if(new_teacher.id==s.id){
        <app-lesson9-form (close)="onCloseForm($event)" [isEdit]="true" [new_teacher]="new_teacher"></app-lesson9-form>
    }
}

<br>
<button (click)="onAdd()" >to Add Teacher</button>
@if(isAdd){
    <app-lesson9-form (close)="onCloseForm($event)" [isAdd]="true" [new_teacher]="new_teacher"></app-lesson9-form>
}